---
---

$background-color: #F3F1F0
$primary-color: #222222

@font-face
	font-family: "Sneak-Regular"
	src: url('{{ site.baseurl }}/fonts/Sneak-Regular.woff')

$default-font-family: "Sneak-Regular", sans-serif

body
	background-color: $background-color
	color: $primary-color
	font-family: $default-font-family
	font-size: 16px
	overflow-x: hidden
	div
		line-height: 160%
	a
		color: $primary-color	
		padding-bottom: 1px
		border-bottom: 1px solid transparent
		&:hover
			color: $primary-color	
			border-bottom: 1px solid $primary-color
			text-decoration: none

.nav-container
	display: flex
	justify-content: center
	.nav-item
		padding: 27px 10px

// Main Page
.block-wrapper
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-gap: 24px
	margin-bottom: 70px
	.block
		background-color: #ffffff
		padding: 40px
	@media (max-width: 750px)
		grid-template-columns: 1fr

.pane
	padding: 70px 0px
	display: grid
	grid-template-columns: repeat(2, minmax(0, 1fr))
	grid-gap: 100px
	.content-wrapper
		display: flex
		flex-direction: column
		justify-content: center
	@media (max-width: 992px)
		grid-gap: 20px
		&:not(#hero-pane)
			img
				width: 350px
				height: 350px
	@media (max-width: 750px)
		padding: 35px
		grid-template-columns: 1fr
		img
			margin: 0 auto

.pane-header
	font-size: 50px
	line-height: 120%
	margin-bottom: 20px
	&.center
		text-align: center
	&.fixed-width
		@media (min-width: 991px)
			max-width: 425px
			&.center
				margin: 0 auto
	@media (max-width: 750px)
		text-align: center

#hero-pane
	position: relative
	padding-bottom: 0px
	.pane-header
		margin-bottom: 40px
	button
		margin-bottom: 40px
	#hero-1-hidden
		position: relative
		top: 0px
		opacity: 0
	@media (min-width: 991px)
		#hero-1
			position: absolute
			top: 70px
			right: 0px
		#hero-2
			position: absolute
			bottom: -300px
			right: 200px
	@media (max-width: 1191px)
		padding-bottom: 130px
		img
			width: 45%
		#hero-2
			right: 100px
			bottom: -380px

	@media (max-width: 990px)
		grid-template-columns: 1fr
		padding-bottom: 70px
		img
			width: 45%
			position: relative
		#hero-1
			right: -50%
		#hero-2
			position: absolute
			bottom: 30px
			right: 31%
	
	@media (max-width: 750px)
		padding-bottom: 70px
		#hero-1
			position: relative
			right: -70px
		#hero-2
			position: absolute
			bottom: 15px
			left: 40px
	@media (max-width: 750px)
		padding-top: 35px

.section-header
	font-size: 37px
	margin-bottom: 80px
	line-height: 48px
	&.center
		text-align: center
	@media (max-width: 750px)
		margin-bottom: 40px

.faq-wrapper
	border-top: 1px solid $primary-color
	.faq-item
		border-bottom: 1px solid $primary-color
		.faq-subject
			display: flex
			padding: 24px 0px
			justify-content: space-between
			&:hover
				cursor: pointer
		.faq-body
			padding-bottom: 24px
			a
				border-bottom: 1px solid $primary-color
			&.hidden
				display: none
		.arrow-img
			&.up
				transform: rotate(180deg)

.full-pane
	padding: 70px 0px
	&.center
		text-align: center

button.btn.btn-primary
	padding: 11px 32px 10px
	background-color: $primary-color
	color: #ffffff
	border-radius: 25px
	border: 1px solid $primary-color

.hbspt-form
	width: 100%
	margin: 0 auto
	form
		display: flex
		justify-content: center
	.field
		max-width: 100% !important
		width: 285px
		display: inline-block
		vertical-align: top
		label
			display: none
		ul
			padding-inline-start: 0px
			list-style-type: none
			li
				text-align: center
			label
				font-size: 14px
				display: block
			label
				&::marker
					display: none
	input
		width: 100%
		border-radius: 100px
	.input
		input
			padding: 8px 32px 8px
			background-color: transparent
			border-style: solid
			border: 1px solid $primary-color
	.hs_error_rollup
		display: none
	.hs_submit
		display: inline-block
		margin-left: 10px
		vertical-align: top
		input
			padding: 8px 32px 8px
			background-color: $primary-color
			color: #ffffff
			border-radius: 100px
			border: 1px solid $primary-color

.email-form
	padding-bottom: 120px
	@media (max-width: 750px)
		padding-bottom: 60px
	.pane-header
		margin-bottom: 30px !important

footer
	background-color: #ffffff
	padding: 120px 0px 240px

// Join
.pricing
	background-color: #ffffff
	padding: 40px
	.section-header
		margin-bottom: 30px
	button
		margin-bottom: 30px

	.item
		padding: 13px 0px
		padding-left: 30px
		position: relative
		&::before
			content: url('{{ site.baseurl }}/img/check.svg')
			height: 20px
			width: 20px
			position: absolute
			left: 0px
		&:not(:last-child)
			border-bottom: 1px solid $primary-color

#join-page
	padding-bottom: 120px
	.hero
		.pane-header
			font-size: 70px
			line-height: 120%
			@media (max-width: 750px)
				font-size: 50px
			@media (min-width: 991px)
				max-width: 900px
		.description
			font-size: 20px
			line-height: 160%
			@media (min-width: 991px)
				max-width: 550px
	.pricing
		.section-header
			max-width: 500px

#about-pane
	.pane-header
		font-size: 70px
		line-height: 120%
		@media (max-width: 750px)
			font-size: 50px
		@media (min-width: 991px)
			max-width: 600px
	p
		margin-bottom: 40px
		font-size: 20px
		line-height: 160%


// footer
footer
	.section-header
		font-size: 16px
		line-height: 26px
		margin-bottom: 20px
	.footer-item
		margin-bottom: 16px
		font-size: 28px
		color: $primary-color
		a
			font-size: 28px

.submitted-message
	text-align: center

// join modal
.modal
	.modal-content
		border: none
		border-radius: 0px
		-webkit-box-shadow: none
		box-shadow: none
		.modal-body
			display: flex
			flex-direction: column
			align-items: center
			padding: 40px 60px 70px
			.close-button
				font-size: 16px
				margin-bottom: 40px
				padding-bottom: 1px
				border-bottom: 1px solid transparent
				&:hover
					cursor: pointer
					border-bottom: 1px solid $primary-color
			.form-label
				font-size: 37px
				line-height: 130%
				margin-bottom: 40px
