<div class="container">
	<div class="pane" id="about-pane">
		<div class="pane-header">We are Funding Hope.</div>
		<div>
			<p>Funding Hope is a female-led organization dedicated to improving the lives of women. Its mission is to end unbalanced medical funding by giving the decision making power to the people who care most.</p>
			<p>Today, government organizations decide which diseases deserve research funding. We’re here to change that. Funding Hope gives passionate individuals the ability to tip the scales and increase the number of research grants dedicated to the causes that matter most to them.
Funding Hope is your opportunity to make a direct impact, help end suffering from endometriosis and get answers.</p>
			<p>Endometriosis is the first of many. Sign up to learn more about Funding Hope.</p>
		</div>
	</div>
	{% include cta.html %}
</div>