<div>
	<div class="section-header center">Common Questions</div>
	<div class="faq-wrapper">
		<div class="faq-item">
			<div class="faq-subject">
				<div>How do I get involved?</div>
				<img class='arrow-img' src="img/arrow.svg" />
			</div>
			<div class="faq-body hidden">Response 1</div>
		</div>
		<div class="faq-item">
			<div class="faq-subject">
				<div>Is Funding Hope a free platform?</div>
				<img class='arrow-img' src="img/arrow.svg" />
			</div>
			<div class="faq-body hidden">Response 2</div>
		</div>
		<div class="faq-item">
			<div class="faq-subject">
				<div>Who created Funding Hope?</div>
				<img class='arrow-img' src="img/arrow.svg" />
			</div>
			<div class="faq-body hidden">Response 3</div>
		</div>
		<div class="faq-item">
			<div class="faq-subject">
				<div>How do I know my contributions go to the researchers?</div>
				<img class='arrow-img' src="img/arrow.svg" />
			</div>
			<div class="faq-body hidden">Response 4</div>
		</div>
	</div>
</div>