<div>
	<div class="section-header center">Common Questions</div>
	<div class="faq-wrapper">
		<div class="faq-item">
			<div class="faq-subject">
				<div>How do I get involved?</div>
				<img class='arrow-img' src="{{ site.baseurl }}/img/arrow.svg" />
			</div>
			<div class="faq-body hidden">
				You can get involved by <a href="{{ site.baseurl }}/join">signing up today</a>! We are a work-in-progress organization looking to accelerate endometriosis research. By signing up, you help us prove the need for a community just like this. Thank you for your support.  
			</div>
		</div>
		<div class="faq-item">
			<div class="faq-subject">
				<div>Is Funding Hope a free platform?</div>
				<img class='arrow-img' src="{{ site.baseurl }}/img/arrow.svg" />
			</div>
			<div class="faq-body hidden">
				Funding Hope is not a free platform. All members pay a $10 monthly subscription. 80% of the funds raised will go towards funding scientific research. The rest is used to support and offer the platform to you!
			</div>
		</div>
		<div class="faq-item">
			<div class="faq-subject">
				<div>Who created Funding Hope?</div>
				<img class='arrow-img' src="{{ site.baseurl }}/img/arrow.svg" />
			</div>
			<div class="faq-body hidden">
				Funding Hope is focusing on funding basic research at research universities in the United States. Scientists will be PhDs working in top tier academic labs focused on understanding why women get endometriosis and what we can do to help stop their suffering. 
			</div>
		</div>
		<div class="faq-item">
			<div class="faq-subject">
				<div>How do I know my contributions go to the researchers?</div>
				<img class='arrow-img' src="{{ site.baseurl }}/img/arrow.svg" />
			</div>
			<div class="faq-body hidden">
				Funding Hope guarantees that 80% of your subscription will go to researchers. We will transparently publish how many people are in the community, how much we have granted to researchers and how much is waiting to be granted, so that you can always have clarity. 
			</div>
		</div>
	</div>
</div>