<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="pane-header">fundinghope.us</div>
			</div>
			<div class="col-md-6 col-xs-12">
				
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="section-header">Company</div>
						<div class="footer-item">
							<a href="{{ site.baseurl }}/about">About us</a>
						</div>
						<div class="footer-item">
	    					<a href="{{ site.baseurl }}/join">How to join</a>	
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="section-header">Contact</div>
						<div class="footer-item">
							<a href="mailto:hi@fundinghope.us">hi@fundinghope.us</a>
						</div>
						<div class="footer-item">617 453 8539</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>