<div class="container" id="join-page">
	<div class="full-pane hero">
		<div class="pane-header">Change the course of Endometriosis research.</div>
	</div>
	<div class="pricing">
		<div class="section-header">Get access to Funding Hope for $10 a month.</div>
		<button type="button" class="btn btn-primary">Get on the list</button>
		<div class="item-list">
			<div class="item">Get a curated feed of photos, videos, and updates directly from the research community.</div>
			<div class="item">Provide your experience and thoughts with researchers directly, and share what progress you’d like to see on endometriosis research.</div>
			<div class="item">Receive the 2022 annual report put in context for patient and families who are looking clear for answers.</div>
			<div class="item">Add more researchers dedicated to Endometriosis. 90% of payments goes to putting more researchers to work.</div>
			<div class="item">Feel good that you are helping make a difference..</div>
		</div>
	</div>
	<div class="full-pane center email-form">
		<div class="pane-header">Want to help but not ready to commit?</div>
		<form>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Enter your email" />
				<button type="button" class="btn btn-primary">Send</button>
			</div>
		</form>
	</div>
	{% include faq.html %}
</div>
