<div class="container" id="join-page">
	<div class="full-pane hero">
		<div class="pane-header">Change the course of Endometriosis research.</div>
		<div class="description">
			Funding Hope is a private community dedicated to increasing the number of researchers working on endometriosis treatments.
		</div>
	</div>
	<div class="pricing">
		<div class="section-header">Get access to Funding Hope for $10 a month.</div>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#join-modal">Get on the list</button>
		<div class="item-list">
			<div class="item">Get a curated feed of photos, videos, and updates directly from the research community.</div>
			<div class="item">Make a difference for millions of women who are suffering.</div>
			<div class="item">Receive the 2022 annual report put in context for patient and families who are looking clear for answers.</div>
			<div class="item">Add more researchers dedicated to Endometriosis. 90% of payments goes to putting more researchers to work.</div>
			<div class="item">Feel good that you are helping make a difference..</div>
		</div>
	</div>
	<div class="full-pane center email-form">
		<div class="pane-header fixed-width center">Want to help but not ready to commit?</div>
		<!--[if lte IE 8]>
		<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
		<![endif]-->
		<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
		<script>
		  hbspt.forms.create({
			region: "na1",
			portalId: "10845",
			formId: "1307cdfe-02f7-4ac7-8e53-ee824da7e09a"
		});
		</script>
	</div>
	{% include faq.html %}
</div>
