<div class="container">
	<div class="pane" id="hero-pane">
		<div class="content-wrapper">
			<div class='pane-header'>It’s time to stop endometriosis suffering.
We can make it happen.</div>
			<div class="button-wrapper">
				<a class="button" href="{{ site.baseurl }}/join">Learn more</a>
			</div>
			<div>The fastest path to more answers and relief is increased medical research, however not all diseases are treated equally.</div>
		</div>
		<img id="hero-1-hidden" class="hidden-xs hidden-sm hidden-md" src="img/hero-1.png" />
		<img id="hero-1" src="img/hero-1.png" />
		<img id="hero-2" src="img/hero-2.png" />
	</div>
	<div class="section-header center">We are Funding <br> Hope</div>
	<div class="block-wrapper">
		<div class="block">
			<div>Funding Hope is a private community dedicated to increasing the number of researchers working on endometriosis treatments.</div>
		</div>
		<div class="block">
			<div>Endometriosis affects 11% of women and takes 7 years on average to be diagnosed.</div>
		</div>
		<div class="block">
			<div>Endometriosis research only receives .03% of the medical research funding supplied by the National Institutes of Health </div>
		</div>
	</div>
	<div class="pane">
		<div class="content-wrapper">
			<div class='pane-header fixed-width'>Connect with qualified experts</div>
			<div>Finding information you can understand and trust is hard. Funding Hope puts endometriosis research and information in context so you can support yourself and your loved ones as new findings are made.</div>
		</div>
		<img src="img/landing-1.svg" />
	</div>
	<div class="pane">
		<img class="hidden-xs" src="img/landing-2.svg" />
		<div class="content-wrapper">
			<div class='pane-header fixed-width'>Be at the center of endometriosis breakthroughs</div>
			<div>Funding Hope researchers post images, videos, and photos connecting you directly to what they’re learning. Be a part of the journey, share your feedback, and have your voice heard.</div>
		</div>
		<img class="visible-xs" src="img/landing-2.svg" />
	</div>
	<div class="pane">
		<div class="content-wrapper">
			<div class='pane-header fixed-width'>Get endometriosis the funding it deserves</div>
			<div>Your monthly subscription directly helps add more researchers to the cause, helping accelerate our understanding of endometriosis and ultimately find treatments that make a difference.</div>
		</div>
		<img src="img/landing-3.svg" />
	</div>
	{% include faq.html %}
	{% include cta.html %}
</div>
