<div class="container">
	<div class="pane" id="hero-pane">
		<div class="content-wrapper">
			<div class='pane-header'>Join the platform for funding research millions need.</div>
			<button type="button" class="btn btn-primary">Get on the list</button>
			<div>Let’s make a change together and double the number of researchers working on Endometriosis.</div>
		</div>
		<img id="hero-1" src="img/hero-1.png" />
		<img id="hero-2" src="img/hero-2.png" />
	</div>
	<div class="section-header center">We are Funding Hope</div>
	<div class="block-wrapper">
		<div class="block">
			<div class="position">01</div>
			<div>Endometriosis affects 11% of women or 18 million people in the US.</div>
		</div>
		<div class="block">
			<div class="position">02</div>
			<div>In 2020, the NIH invested only 7 million of their 44 billion budget in new endometriosis research and funded 17 projects.</div>
		</div>
		<div class="block">
			<div class="position">03</div>
			<div>A researcher can focus and make significant progress with 100,000 a year for 3 years.</div>
		</div>

	</div>
	<div class="pane">
		<div class="content-wrapper">
			<div class='pane-header'>Crowd-fund <br> research</div>
			<div>Your monthly subscription directly helps add more researchers to the cause, helping accelerate our understanding of endometriosis and ultimately find treatments that make a difference.</div>
		</div>
		<img src="img/landing-1.svg" />
	</div>
	<div class="pane">
		<img src="img/landing-2.svg" />
		<div class="content-wrapper">
			<div class='pane-header'>Inside the <br> progress</div>
			<div>Funding Hope researchers post images, videos, and more every day, connecting you directly to what they’re learning. Be part of the journey, share your feedback, and have your voice heard on our platform.</div>
		</div>
	</div>
	<div class="pane">
		<div class="content-wrapper">
			<div class='pane-header'>Our<br>community</div>
			<div>Finding information you can understand and trust is hard. Funding Hope puts endometriosis research and information in context so you are able to support yourself and your loved ones as new findings are made.</div>
		</div>
		<img src="img/landing-3.svg" />
	</div>
	{% include faq.html %}
	{% include cta.html %}
</div>
